<html>
    <%- include('./partials/head.ejs'); %>
    <body>
        <%- include('./partials/nav.ejs'); %>
        <div class="blogs content">
            <h1>404 eeeeeeeror</h1>
        </div>
    </body>
</html>