<html>
    <%- include('./partials/head.ejs'); %>
    <body>
        <%- include('./partials/nav.ejs'); %>
        <div class="blogs content">
            <h2>About</h2>
            <p>djfosidfj skjd fidsjf dsoijf kjj kdj jj jdkf kdj k</p>
            <p>djfosidfj skjd fidsjf dsoijf kjj kdj jj jdkf kdj k</p>
            <p>djfosidfj skjd fidsjf dsoijf kjj kdj jj jdkf kdj kdjfosidfj skjd fidsjf dsoijf kjj kdj jj jdkf kdj k</p>
        </div>
    </body>
</html>